<div class="bootstarp-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img  class="img-fluid" style="width:100px;"  src="/assets/loginapp.jpg" alt=""/>
                </div>
                   <h1 class="text-center">Login here!!</h1>    

                    <div class="container text-center">

                        <form  (ngSubmit)="onSubmit()">
                            <mat-form-field class="full-width">
                                <mat-label>Username</mat-label>
                                <input type="text" matInput
                                   required  name="username"
                                     [(ngModel)]="credentials.username" />
                            </mat-form-field>
                            
                            <mat-form-field class="full-width">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput
                                required name="password"
                                 [(ngModel)]="credentials.password" />
                            </mat-form-field>
                            
                            <div class="container text-center">
                                    <button type="submit"  mat-raised-button color="primary">Login  </button>
                                    <button  style="margin-left: 10px;"  type="reset"   mat-raised-button color="accent">Reset  </button>

                            </div>
                            
                        </form>
                        <!-- <h2> {{credentials|json}}</h2> -->
                    </div>
            </div>
        </div>
    </div>

</div>